html, body {
    overflow-x: hidden;
    font-family: 'Work Sans';
}



.posts-container {
    margin-left: 5vw;
    width: 65vw;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    box-sizing: content-box;
    background-color: #ebebeb;
}

.posts-container .posts-title {
    font-size: 32px;
    font-weight: 400;
}

.posts-container .post {
    margin-top: 10px;
    background: white;
    width: 75%;
}
.posts-container .post .post-title {

    margin-left: 10px;
}

.posts-container .post .post-content {
    margin-top: 10px;
    margin-left: 20px;
    word-wrap: break-word;
    display: block;
}



.posts-container .post .post-title-container {
    display: flex;
    justify-content: space-between;
}

.btn-toggle:hover {
    cursor: pointer;
}

.post-author {
    flex-grow: 1;
    margin-left: 25px;
}

.post-date {
    flex-grow: 0.1;
}